@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body{
  background: black;
  font-size: 16px;
  font-family: monospace;
  /* overflow: hidden; */
}

#gameboard {
  background: black;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tile{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  cursor: crosshair;
  user-select: none;
}



.wall {
  background-color: dimgray;
  color: white;
}

.grass {
  background: olive;
  color: darkseagreen;
}
.empty{
  background: dimgray;
  color: gray;
}
.soil{
  background: tan;
  color: lemonchiffon;
}

.rock{
  background: brown;
  color: coral;
}

.player {
    background: black;
    color: yellow;
    z-index: 5;
    transition: all 0.1s ease-in-out;
}

.tile:hover{
}

#tip{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  margin: 0;
  padding: 6px;
}
