@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body{
  background: black;
  font-size: 16px;
  font-family: monospace;
  /* overflow: hidden; */
}

#gameboard {
  background: black;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.tile{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  cursor: crosshair;
  user-select: none;
}



.wall {
  background-color: black;
  color: white;
}

.grass {
  background: black;
  color: olive;
}
.empty{
  background: black;
  color: gray;
}
.soil{
  background: black;
  color: tan;
}

.rock{
  background: black;
  color: coral;
}

.player {
    background: black;
    color: cornflowerblue;
    z-index: 5;
    transition: all 0.1s ease-in-out;
}

.tile:hover{
}

#info{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  margin: 0;
  padding: 6px;
}

#info p, #info a {
    display: inline-block;
    margin-right: 8px;
}

#info a {
    text-decoration: underline;
    cursor: pointer;;
}

#info a:hover{
    color: yellow;
}

.not-valid {
    color: red;
}

.entity {
    background: transparent;
    border-radius: 10px;
    z-index: 10;
}

.flower {
    color: yellow;
}
