.tile{
  position: absolute;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  cursor: crosshair;
  user-select: none;
  font-size: 32px;
  font-weight: bold;
}

.player {
    background: transparent;
    color: yellow;
    z-index: 1;
    transition: all 0.1s ease-in-out;
}

.wall {
    font-family: "SPRITES", monospace;
    font-weight: normal;
    font-size: 40px;
  background-color: black;
  color: dimgray;
}

.grass {
  background: black;
  color: rgb(30, 30, 30);
}

.empty{
  background: black;
  color: purple;
}

.soil{
  background: darkred;
  color: transparent;
}

.rock {
  background: black;
  color: seashell;
}

.door {
    background: black;
    color: hotpink;
}

.tile:hover{
}

.entity {
  background: transparent;
  z-index: 2;
}

.flower{
font-family: "SPRITES", monospace;
font-weight: normal;

  color: hotpink;
}

.clover{
    color: yellowgreen;
}

.terminal {
    color: cornflowerblue;
}
