.tile{
  position: absolute;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  cursor: crosshair;
  user-select: none;
  font-size: 32px;
  font-weight: bold;
}

.player {
    background: black;
    color: yellow;
    z-index: 5;
    transition: all 0.1s ease-in-out;
}

.wall {
  background-color: black;
  color: gray;
}

.grass {
  background: black;
  color: rgb(30, 30, 30);
}

.empty{
  background: black;
  color: purple;
}

.soil{
  background: black;
  color: tan;
}

.rock {
  background: black;
  color: seashell;
}

.door {
    background: black;
    color: hotpink;
}

.tile:hover{
}

.entity {
  background: transparent;
  z-index: 10;
}

.flower{
  color: hotpink;
}

.clover{
    color: yellowgreen;
}
