.tile{
  position: absolute;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  user-select: none;
  font-size: 32px;
}

.player {
    background: transparent;
    color: var(--light);
    z-index: 1;
    transition: all 0.1s ease-in-out;
}

.wall {
    font-family: "SPRITES", monospace;
    font-weight: normal;
    font-size: 40px;
    color: var(--mid);
}

.grass {
  color: var(--mid);
}

.empty{
  color: black;
}

.soil{
    font-family: "SPRITES", monospace;
  color: tan;
}
.sand{
    font-family: "SPRITES", monospace;
  color: var(--mid);
}


.rock {
  color: var(--mid);
}

.door {
    font-family: "SPRITES", monospace;
    font-size: 40px;

    color: var(--mid2);
}

.tile:hover{
}

.entity {
  background: transparent;
  z-index: 2;
}

.flower{
    font-family: "SPRITES", monospace;
    font-weight: normal;
    color: coral;
}

.clover{
    font-family: "SPRITES", monospace;
    color: darkgreen;
}

.trading {
    color: cornflowerblue;
}

.guide {
    color: teal;
}
